# Visual studio code settings
.vscode/settings.json

# Compiled python files
*.pyc
*.pyo
*.pyd

# Pyinstaller
pyinstaller/build
pyinstaller/dist/Anduryl_selection

# Pycache
__pycache__
notebooks/.ipynb_checkpoints/*.ipynb
test/.ipynb_checkpoints/*.ipynb
pyinstaller/dist/Anduryl.exe
anduryl/data/AD_ecdf.pickle
